@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;

    src: url('../css/fonts/Open_Sans/opensans-regular-webfont.woff2') format('woff2'),
    url('../css/fonts/Open_Sans/opensans-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: italic;

    src: url('../css/fonts/Open_Sans/opensans-italic-webfont.woff2') format('woff2'),
    url('../css/fonts/Open_Sans/opensans-italic-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;

    src: url('../css/fonts/Open_Sans/opensans-semibold-webfont.woff2') format('woff2'),
    url('../css/fonts/Open_Sans/opensans-semibold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: italic;

    src: url('../css/fonts/Open_Sans/opensans-semibolditalic-webfont.woff2') format('woff2'),
    url('../css/fonts/Open_Sans/opensans-semibolditalic-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;

    src: url('../css/fonts/Open_Sans/opensans-bold-webfont.woff2') format('woff2'),
    url('../css/fonts/Open_Sans/opensans-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: italic;

    src: url('../css/fonts/Open_Sans/opensans-bolditalic-webfont.woff2') format('woff2'),
    url('../css/fonts/Open_Sans/opensans-bolditalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 800;
    font-style: normal;

    src: url('../css/fonts/Open_Sans/opensans-extrabold-webfont.woff2') format('woff2'),
    url('../css/fonts/Open_Sans/opensans-extrabold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 800;
    font-style: italic;

    src: url('../css/fonts/Open_Sans/opensans-extrabolditalic-webfont.woff2') format('woff2'),
    url('../css/fonts/Open_Sans/opensans-extrabolditalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;

    src: url('../css/fonts/Open_Sans/opensans-light-webfont.woff2') format('woff2'),
    url('../css/fonts/Open_Sans/opensans-light-webfont.woff') format('woff');
}

// @font-face {
//     font-family: 'open_sanslight_italic';
//     src: url('opensans-lightitalic-webfont.woff2') format('woff2'),
//          url('opensans-lightitalic-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: italic;
//
// }
