.breadcrumbs
    .breadcrumbs__container
        .breadcrumbs__headering= pageTitle
        .breadcrumbs__path
            a(href='index.html' class="breadcrumbs__link")
                |Home 
            a(href='#' class="breadcrumbs__link")
                = pageTitle
