.central-slider
    .central-slider__header
        h3.central-slider__heading
            | Why modus versus?
        p.central-slider__text
            |Capacitance cascading integer reflective interface data development high bus cache dithering transponder.
    .central-slider__container
        .central-slider__item
            +borderScreen
            .container__img
                img.central-slider__img(src="media/image-p/img_2.jpg" alt="")
        .central-slider__item
            +borderScreen
            .container__img
                img.central-slider__img(src="media/image-p/img_3.jpg" alt="")
        .central-slider__item
            +borderScreen
            .container__img
                img.central-slider__img(src="media/image-p/img_1.jpg" alt="")
