.text-center__container
    h2.text-center__headering
        |Best Solution is the simplest 
        span.text-center__headering-item
            | idea!
    p.text-center__item
        span.text-center__small-text
            |Capacitance cascading integer reflective interface data development high bus cache dithering transponder. 
        |Curabitur vitae velit in neque dictum blandit.
    p.text-center__item
        |Proin in iaculis neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
