.mini-slider {
    width: 100%;
    max-width: 73.75rem;
    margin-top: 1.6em;
    margin-right: auto;
    margin-bottom: 3.3em;
    margin-left: auto;

    &__header {
        display: flex;

        align-items: center;
        justify-content: space-between;

        &-heading {
            font-size: 1rem;

            margin-right: .7em;
            margin-left: .3em;

            text-transform: capitalize;

            color: $color-main-slider;
        }

        &-line {
            position: relative;

            width: 100%;
            max-width: 55em;
            height: 1px;
            margin-right: 1em;

            background-color: $color-mini-slider-line;

            &::before {
                position: absolute;
                top: -.2em;

                width: .4em;
                height: .4em;

                content: '';

                border-radius: 50%;
                background-color: $color-mini-slider-line;
            }
        }
        &-btn-left,
        &-btn-right {
            position: relative;
            right: 0;

            width: 2.5rem;
            height: 2.31rem;

            text-align: center;

            border: none;
            border-radius: $border-radius-button;
            outline: none;
            background-color: $color-btn-passive;
            box-shadow: 0 .3em 0 0 $color-main-slider;
            &-icon {
                position: absolute;
                top: .6em;
                left: .5em;

                fill: $color-white;
                @media screen and (max-width: $tablet-min-width) {
                    left: .3em;
                }
            }
            &:hover {
                background-color: $color-active-light;
                box-shadow: 0 .3em 0 0 $color-active-dark;
            }
        }
        &-btn-right {
            margin-right: .35em;
            margin-left: .5em;
        }
        &-btn-left {
            margin-right: 0;
        }
    }
    &-conteiner {
        max-width: 73.75rem;
        margin-top: 2.5em;


        &__item {
            height: 5.625rem;
        }
        &__img {
            width: 100%;
            max-width: 10.625rem;
            height: auto;
            margin: 0 auto;
            //-чтобы у первой и шестой картинки был одинаковый отступ до края
        }
    }
}
